<div class="style-guide">
  <div class="style-guide__wrapper">
    <div class="style-guide__section">
      {{partial 'style-guide/colors'}}
    </div>

    <div class="style-guide__section">
      {{partial 'style-guide/forms'}}
    </div>

    <div class="style-guide__section">
      {{partial 'style-guide/buttons'}}
    </div>

    <div class="style-guide__section">
      {{partial 'style-guide/dropdowns'}}
    </div>

    <div class="style-guide__section">
      {{partial 'style-guide/tables'}}
    </div>
  </div>
</div>